# Developer: Maik Ellerbrock <opensource@frapsoft.com>
#
# GitHub:  https://github.com/ellerbrock
# Twitter: https://twitter.com/frapsoft

# most settings done via global gitignore settings

# files
.dockerignore
docs.md
todo.md

# folders
local
tmp
